version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  unit-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm run test
            - run: npm run codecov
workflows:
  test-flow:
    jobs:
      - unit-test
